[submodule "third_party/cassandra-cpp-driver"]
	path = third_party/cassandra-cpp-driver
	url = https://github.com/datastax/cpp-driver.git
[submodule "third_party/crow"]
	path = third_party/crow
	url = https://github.com/ipkn/crow.git
[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "third_party/libdatachannel"]
	path = third_party/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "third_party/pqxx"]
	path = third_party/pqxx
	url = https://github.com/jtv/libpqxx.git
